{{#if isCardView}}
  {{#link-to 'librettos' class="btn-blue"}}Choose Script{{/link-to}}
  {{link-to 'See Script' (query-params view="script") class="btn-blue"}}

  <CardDecksData @name={{model.name}} as |decks|>
    <CardDeck @cards={{decks.single}} @onCardClick={{action decks.actions.flipCard}} @currentIndex={{cardIndex}} />
  </CardDecksData>

  {{link-to 'Previous Card' (query-params card=previousCard) class="btn-blue"}}
  {{link-to 'Next Card' (query-params card=nextCard) class="btn-blue"}}
{{ else }}
  
  <CardDecksData @name={{model.name}} as |decks|>
    {{#each decks.single as |card index|}}
      <div class="script-section" onclick={{action 'goToCardWithIndex' index}}>
        {{card.front}}
        {{card.back}}
      </div>
    {{/each}}
  </CardDecksData>
{{/if}}