{{#if isCardView}}
  <div class="flex flex-col h-screen">
    <div>
      {{#link-to 'librettos' class="btn-blue"}}Choose Script{{/link-to}}
      {{link-to 'See Script' (query-params view="script") class="btn-blue"}}
    </div>

    <div class="flex-grow">
      <CardDecksData @name={{model.name}} as |decks|>
        <CardDeck @cards={{decks.single}} @onCardClick={{action decks.actions.flipCard}} @currentIndex={{cardIndex}} />
      </CardDecksData>
    </div>

    <div>
      {{link-to 'Previous Card' (query-params card=previousCard) class="btn-blue"}}
      {{link-to 'Next Card' (query-params card=nextCard) class="btn-blue"}}
    </div>
  </div>
{{ else }}
  
  <CardDecksData @name={{model.name}} as |decks|>
    {{#each decks.single as |card index|}}
      {{#if (eq index cardIndex)}}
        <ScrollOnInit />
      {{/if}}
      <div class="script-section" onclick={{action 'goToCardWithIndex' index}}>
        {{card.front}}
        {{card.back}}
      </div>
    {{/each}}
  </CardDecksData>
{{/if}}